@font-face {
  font-family: myFontFamily;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

:root {
  --primarySoftOrange: hsl(35, 77%, 62%);
  --primarySoftRed: hsl(5, 85%, 63%);
  --neutralOffWhite: hsl(36, 100%, 99%);
  --neutralGrayishBlue: hsl(233, 8%, 79%);
  --neutralDarkGrayishBlue: hsl(236, 13%, 42%);
  --neutralDarkBlue: hsl(240, 100%, 5%);
}

body {
  font-family: myFontFamily, sans-serif;
  background: var(--neutralOffWhite);
}

.offcanvas,
.card-body,
.card-footer,
.card-header {
  background: var(--neutralOffWhite);
}

.nav-link,
.parh {
  color: var(--neutralDarkGrayishBlue);
}

.nav-link:hover,
.active {
  color: var(--primarySoftRed);
}
.card-text {
  color: var(--neutralDarkGrayishBlue);
}

.black-btn {
  background-color: var(--primarySoftRed);
  color: var(--neutralOffWhite);
}

.black-btn:hover {
  background-color: var(--neutralDarkBlue) !important;
  color: var(--neutralOffWhite) !important;
}

.list-group,
.list-group-item {
  background-color: var(--neutralDarkBlue);
}

.list-group {
  height: 100%;
}

.title:hover,
.list-group h2 {
  color: var(--primarySoftOrange);
  cursor: pointer;
}

.list-group p {
  color: var(--neutralGrayishBlue);
}

.list-group h5 {
  color: var(--neutralOffWhite);
}

.list-group-item {
  width: 90%;
  border-bottom: 1px solid var(--neutralDarkGrayishBlue);
}

.btm .card-title:hover {
  color: var(--primarySoftRed);
  cursor: pointer;
}

.btm .card-no {
  color: var(--neutralGrayishBlue);
}
